<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <%- include('partials/navigation') %>
        <h1>Task List</h1>
        <ul>
            <% if(tasks.length > 0) { %>
                <% tasks.forEach(task => { %>
                    <li class="task-item">
                        <div>
                            <span><%= task.description %></span>
                            <span> - </span>
                            <span><%= task.deadline %></span>
                            <span class="status">(<%= task.status %>)</span>
                        </div>
                        <div>
                            <form action="/tasks/<%= task.id %>/delete" method="POST" style="display:inline;">
                                <button type="submit">Delete</button>
                            </form>
                            <form action="/tasks/<%= task.id %>/edit" method="GET" style="display:inline;">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/tasks/<%= task.id %>/status/In%20progress" method="POST" style="display:inline;">
                                <button type="submit">In Progress</button>
                            </form>
                            <form action="/tasks/<%= task.id %>/status/Completed" method="POST" style="display:inline;">
                                <button type="submit">Completed</button>
                            </form>
                        </div>
                    </li>
                <% }); %>
            <% } else { %>
                <p>No tasks have been found</p>
            <% } %>
        </ul>
    </div>
</body>
</html>